---
import PortableText from "../components/PortableText.astro";
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
import { getHome } from "../utils/sanity"
import { urlFor } from "../utils/image"
import SanityImage from "../components/SanityImage.astro"

// import { Debug } from 'astro:components';

const { 
  title, 
  headline, 
  hero, 
  imageProfile, 
  caption, 
  content, 
  email,
  phone, 
  soundcloudLink 
 } = await getHome();


---

<Layout pageTitle={title}>
  
    <SanityImage node={hero} width={1220}>

      <!-- <Debug {bgHeroImg} /> -->
      <div class="relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-16 z-1">
        <div class="mb-6 max-w-screen-lg lg:mb-0">
          <h1 class="mb-4 text-4xl font-heading font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">{title}</h1>
          <p class="mb-6 font-light text-gray-400 lg:mb-8 md:text-lg lg:text-xl">
            <PortableText blocks={{content}}>
            </p>
          </div>              
        </div>
    </SanityImage>
</Layout>